@import 'src/styles/vars';

.header-content {
  background-color: $headerFooterColor;
  color: $writeColor;
  font-size: 2.5rem;
  border-bottom: 2px solid $writeColor;
  padding-bottom: 1.5rem;

  .header-title-content {
    display: flex;
    flex-flow: row nowrap;
    
    .header-bigTitle {
      font-size: 5rem;
      text-align: left;
      padding-left: $gutter;
      padding-top: $gutter;
      padding-bottom: 1.2rem;
    }
  }
}
